 .u-section-1 {
  background-image: url("images/yyy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 581px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: Barlow;
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: none;
  margin: 104px 0 0 25px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 103px 0 25px;
}

.u-section-1 .u-image-1 {
  min-height: 581px;
  background-image: url("images/ffffff.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 367px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 462px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -49px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 291px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 843px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 60px 306px 0 307px;
}

.u-section-2 .u-text-2 {
  margin: 20px 235px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1020px;
  margin: 45px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px 20px;
  min-height: 526px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-text-1 {
    width: 527px;
    margin-left: 207px;
    margin-right: 206px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 39px;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 692px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 790px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-image-1 {
  height: 413px;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  width: 350px;
  margin: -523px 0 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 572px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 89px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0 51px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 89px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0 51px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 590px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-top: -590px;
    margin-bottom: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 521px;
  }

  .u-section-3 .u-list-1 {
    width: 710px;
    margin: 20px auto 34px 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 258px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 325px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 24px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 246px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 858px;
}

.u-section-4 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-size: 3.125rem;
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 415px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-4 .u-group-1 {
  min-height: 178px;
  width: 354px;
  margin: 0 23px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-4 .u-text-2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 173px;
  margin: 18px auto 0;
}

.u-section-4 .u-text-4 {
  line-height: 3;
  margin: -20px -3px 0 3px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 416px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-4 .u-group-2 {
  min-height: 191px;
  width: 417px;
  margin: 0 -1px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 29px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 173px;
  margin: 18px auto 0;
}

.u-section-4 .u-text-7 {
  line-height: 3;
  margin: -34px 3px 0 -3px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 416px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-4 .u-group-3 {
  min-height: 182px;
  width: 414px;
  margin: -3px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-8 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 159px;
  margin: 18px auto 0;
}

.u-section-4 .u-text-10 {
  line-height: 3;
  margin: -22px 0 0;
}

.u-section-4 .u-group-4 {
  min-height: 240px;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px 30px;
}

.u-section-4 .u-text-11 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 3.125rem;
  width: 484px;
  margin: 10px auto 0;
}

.u-section-4 .u-text-13 {
  width: 663px;
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-4 .u-text-14 {
  font-size: 0.75rem;
  font-style: italic;
  width: 571px;
  margin: 19px auto;
}

@media (max-width: 1399px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-4 .u-group-1 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-4 .u-group-2 {
    width: 360px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 412px;
  }

  .u-section-4 .u-group-3 {
    width: 360px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-4 .u-group-1 {
    width: 293px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 340px;
  }

  .u-section-4 .u-group-2 {
    width: 293px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 340px;
  }

  .u-section-4 .u-group-3 {
    width: 293px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-4 .u-group-1 {
    width: 220px;
  }

  .u-section-4 .u-text-3 {
    font-size: 3.4375rem;
    width: 160px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -8px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 463px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-group-2 {
    width: 220px;
    margin-top: -3px;
    margin-right: -6px;
    margin-left: auto;
  }

  .u-section-4 .u-text-6 {
    font-size: 3.4375rem;
    width: 160px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -11px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 463px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-4 .u-group-3 {
    width: 220px;
    margin-top: -1px;
    margin-right: -6px;
  }

  .u-section-4 .u-text-9 {
    font-size: 3.4375rem;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: -4px;
  }

  .u-section-4 .u-text-12 {
    font-size: 3.4375rem;
    width: 429px;
    margin-top: 7px;
  }

  .u-section-4 .u-text-13 {
    width: 660px;
    margin-top: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1652px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-4 .u-group-1 {
    width: 537px;
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-4 .u-group-2 {
    width: 534px;
    margin-top: 0;
    margin-right: -3px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 39px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -14px;
    margin-bottom: -4px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 402px;
  }

  .u-section-4 .u-group-3 {
    width: 534px;
    margin-top: -3px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 39px;
  }

  .u-section-4 .u-text-10 {
    margin-top: -22px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-13 {
    width: 520px;
  }

  .u-section-4 .u-text-14 {
    width: auto;
    margin: 14px 0 24px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1821px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-4 .u-group-1 {
    width: 334px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-4 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-group-2 {
    width: 334px;
    margin-top: 25px;
    margin-right: -6px;
  }

  .u-section-4 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-7 {
    margin-top: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 470px;
  }

  .u-section-4 .u-group-3 {
    width: 334px;
    margin-top: 29px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 49px;
  }

  .u-section-4 .u-text-9 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-10 {
    margin-top: 0;
  }

  .u-section-4 .u-group-4 {
    margin-top: 4px;
    min-height: 245px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-text-12 {
    font-size: 3rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 724px;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(26,26,26,1);
  font-size: 3rem;
  width: 1026px;
  margin: 40px auto 0;
}

.u-section-5 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  margin: 40px auto 60px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-image-1 {
  background-image: url("images/adams-landscaping.JPG");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-group-1 {
  width: 582px;
  min-height: 52px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0 auto;
}

.u-section-5 .u-btn-1 {
  background-image: none;
}

.u-section-5 .u-image-2 {
  background-image: url("images/rkgstudio.JPG");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 14px 60px;
}

.u-section-5 .u-group-2 {
  width: 582px;
  min-height: 52px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-3 {
  margin: 6px auto 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
}

.u-section-5 .u-image-3 {
  background-image: url("images/barrowcon.JPG");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 14px 60px;
}

.u-section-5 .u-group-3 {
  width: 582px;
  min-height: 52px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-4 {
  margin: 6px auto 0;
}

.u-section-5 .u-image-4 {
  background-image: url("images/axe.JPG");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-7 {
  padding: 14px 60px;
}

.u-section-5 .u-group-4 {
  width: 582px;
  min-height: 52px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-5 {
  margin: 6px auto 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
}

.u-section-5 .u-image-5 {
  background-image: url("images/ghostwalk.JPG");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-9 {
  padding: 14px 60px;
}

.u-section-5 .u-group-5 {
  width: 582px;
  min-height: 52px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-10 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-6 {
  margin: 6px auto 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
}

.u-section-5 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 29px;
  }

  .u-section-5 .u-slider-1 {
    height: auto;
    margin-top: 30px;
    margin-bottom: 41px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 6px;
  }

  .u-section-5 .u-btn-1 {
    padding: 0;
  }

  .u-section-5 .u-btn-2 {
    padding: 0;
  }

  .u-section-5 .u-btn-3 {
    padding: 0;
  }

  .u-section-5 .u-btn-4 {
    padding: 0;
  }

  .u-section-5 .u-carousel-control-1 {
    padding: 11px;
  }

  .u-section-5 .u-carousel-control-2 {
    padding: 11px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-slider-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-slider-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-1 {
    width: 520px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-2 {
    width: 520px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-3 {
    width: 520px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-4 {
    width: 520px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-5 {
    width: 520px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-5 .u-slider-1 {
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    width: 320px;
  }

  .u-section-5 .u-group-2 {
    width: 320px;
  }

  .u-section-5 .u-group-3 {
    width: 320px;
  }

  .u-section-5 .u-group-4 {
    width: 320px;
  }

  .u-section-5 .u-group-5 {
    width: 320px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 894px;
}

.u-section-6 .u-text-1 {
  width: 489px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  margin: 57px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  width: 628px;
  margin: 20px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 965px;
  margin: 44px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 292px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-6 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 17px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-decoration: underline !important;
  align-self: center;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 292px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-6 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 17px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px -1px 0;
}

.u-section-6 .u-text-5 {
  text-decoration: underline !important;
  margin: 20px -1px 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-form-1 {
  height: 322px;
  background-image: none;
  width: 996px;
  margin: 30px auto 60px;
}

.u-section-6 .u-btn-3 {
  border-style: none;
  width: 50%;
  padding: 10px 30px 10px 29px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    width: 940px;
  }

  .u-section-6 .u-btn-3 {
    width: 25%;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 241px;
  }

  .u-section-6 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 228px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
  }

  .u-section-6 .u-btn-3 {
    width: 50%;
    padding-right: 32px;
    padding-left: 30px;
  }
}